/***** BASE STYLES *****/
body {
	font-family: "Source Sans Pro", sans-serif;
	color: #2b2b2b;
}

/***** GRID *****/
.full-width {
	width: 1200px;
	margin: 0 auto;
	overflow: auto;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	width: 400px;
	float: left;
}

/***** HEADER *****/
header {
	height: 800px;
	background: url("../img/full-background.png");
	background-size: cover;
	background-position: center;
}

header h1 {
	padding: 65px 0 65px 25px;
	font-family: "Lora", serif;
	height: 30px;
	color: #bbc085;
}
nav {
	float: right;
	padding: 75px 25px;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	text-transform: capitalize;
	text-decoration: none;
	font-size: 18px;
	color: #828282;
	padding-left: 80px;
}
header h2 {
	width: 960px;
	clear: both;
	font-family: "Lora", serif;
	font-size: 69px;
	line-height: 79px;
	color: #9b9b9b;
	padding: 20px 0 20px 25px;
}
header h2 span {
	color: #2b2b2b;
}

/***** ABOUT *****/
#about .full-width {
	padding: 80px 0;
}

#about h2 {
	padding-left: 48px;
	font-family: "Lora", serif;
	font-size: 36px;
}

#about p {
	padding-left: 48px;
	padding-right: 29px;
	font-size: 21px;
	line-height: 40px;
	color: #7f7f7f;
}

/***** WORK *****/
#work {
	text-align: center;
	background-color: #f9ceb7;
}

#work .full-width {
	padding: 115px 0;
}

#work img {
	padding-bottom: 30px;
}

#work h3 {
	font-size: 24px;
	line-height: 32px;
	width: 190px;
	margin: 0 auto;
}

#work p {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
	line-height: 30px;
	padding: 0 50px;
}

/***** CONTACT *****/
#contact {
	background-color: #ebebeb;
}

#contact .full-width {
	padding: 110px 0;
}

/* img tag with id="contact-img" that is a descendant of #contact. */
#contact img#contact-img {
	margin: 25px;
	border: 14px solid white;
}

#contact h2,
#contact #email-header,
#contact #socialmedia-header,
#contact ul {
	padding-left: 115px;
}
#contact #envelope {
	padding: 0 10px 0 115px;
}

#contact h2 {
	font-family: "Lora", serif;
	font-size: 36px;
	line-height: 44px;
}
#contact #email-header {
	font-size: 32px;
	font-weight: 400;
	line-height: 44px;
	margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
	font-weight: bold;
	font-size: 30px;
	line-height: 44px;
	margin: 40px 0 0 0;
}
#contact a {
	text-decoration: none;
	color: #c49075;
	font-weight: bold;
	font-size: 30px;
}
#contact ul {
	list-style: none;
}
#contact ul li {
	display: inline-block;
}
#contact ul img {
	padding-right: 54px;
}
